    body {
		font-family:Agency FB;
      margin: 0;
	  background-image: url("img/back2.jpg");
      background-repeat: no-repeat;
	  background-size: cover;
    }

    .main {
    border:10px dotted  #900C3F ;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
	 
    }
	video{
		margin-top:2%;
		border: 2px solid red;
	
	}
    p {
      font-size: 30px;
	  background-color:red;
      color: #fff;
      font-weight: 700;
      margin-bottom: 16px;
    }

    a {
      padding: 15px 20px;
      background-color: #2c6062;
      font-size: 16px;
      text-decoration: none;
      color: #c1ecee;
      border-radius: 10px;
      box-shadow: 0 0 20px #c1ecee;
    }